.navbar{
    color: var(--bs-white) !important;
    background-color: #FF3951 !important;
}
.navbar button{
    color: var(--bs-white) !important;
}
.navbar a{
    color: var(--bs-white) !important;
}
.logo-bold{
    font-size: 24px;
    font-weight: bold;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: var(--bs-white) !important;
    border-bottom: solid 3px #fff;
    padding-bottom: 10px;
}
.nav-link{
    color: var(--bs-white) !important;
    margin: 0 15px;
    font-size: 16px;
}
.nav-link:hover{
    font-weight: bold;
}
.btn-outline-success{
    color: var(--bs-white);
}
.profile-pic img{
    width: 36px;
    border-radius: 50%;
}
.border-right{
    border-right: solid 1px rgba(255, 255, 255, 0.5);
}
.login-menu{
    position: absolute;
    right: 12px;
    /* display: flex;
    flex-direction: row;
    justify-content: end; */
}
/* .container-fluid{
    justify-content: start;
} */
@media screen and (max-width: 1023px){
    .mobile-none{
        display: none;
    }
    .login-menu{
        position: relative;
    }
}
