<div class="signin-container row d-flex justify-content-center align-items-center">
    <div class="col-md-5 d-flex justify-content-center  align-items-center row">
        <div class="row col-md-10 d-flex justify-content-center">
            <h2 class="text-center column">Welcome back!</h2>
            <p class="column text-center"> Log in to learning</p>
            <form class="row" [formGroup]="signinValue" (ngSubmit)="signIn()"> 
                    <div class="signin-section">
                        <input class="m-t-10" type="email" placeholder="Email" formControlName="email" class="row">
                        <div *ngIf="submitted && validate?.['email']?.errors" class="row error-section">
                            <span class="text-red" *ngIf="validate?.['email']?.errors?.['email']">Email is invalid</span>
                            <span class="text-red" *ngIf="validate?.['email']?.errors?.['required']">Email is required</span>
                        </div>
                        <input class="m-t-10" type="text" placeholder="Password" formControlName="password" class="row">
                        <div *ngIf="submitted && validate?.['password']?.errors" class="row error-section">
                            <span class="text-red" *ngIf="validate?.['password']?.errors?.['minLength']">Password is invalid</span>
                            <span class="text-red" *ngIf="validate?.['password']?.errors?.['required']">Password is required</span>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                        <div class="column">
                            Don't have an account? <a href="#">Sign Up</a>
                        </div>
                    </div>
                </form>
        </div>
    </div>
    <div class="col-md-7">
        <div class="bg-wrapper align-items-end">
            <h1>Welcome to Easy Learn!</h1>
        </div>

    </div>
</div>