.card{
    margin: 10px;
    border-radius: 8px;
    padding: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card-body{
    padding: 0;
}
.card-img{
    background-color: #eff3f6;
    border-bottom: solid 1px rgba(255, 57, 81, 0.6);
    padding: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card.col-md-3{
    width: 31% !important;
}
.card img{
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
}
a{
    color: var(--bs-white) !important;
}
.card-title{
    margin: 12px 0;
}
.card-title label{
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
}
.card-title h5{
    margin: 0;
}
.card-footer{
    margin-top: 18px;
    border-top:  solid 1px rgba(0, 0, 0, 0.15);
}