<div class="container p-20">
    <h3 #abouthead>Welcome to {{auth.isLoggedIn ? auth.userData.displayName : 'Ram'}}</h3>
    <h5>Meet our team of Creators, designers, and world class problem solvers</h5>

    <div class="row">
        <div class="column col-sm-3" *ngFor="let tutor of tutors">
            <div class="card">
                <img src="{{tutor.imgPath}}" />
                <div class="pl-12 pt-12">
                    <h4>{{tutor.name}}</h4>
                    <h6>{{tutor.designation}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
