<div class="col-12">
    <div class="row home-banner"></div>
    <div class="container home-t-section p-20">
        <h3 class="mb-12">Welcome to {{auth.isLoggedIn ? auth.userData.displayName : 'Ram'}}</h3>
        <h5 class="mb-12">Meet our team of Creators, designers, and world class problem solvers</h5>
        <p>In systems engineering, information systems and software engineering, the systems development life cycle, also referred to as the application development life cycle, is a process for planning, creating, testing, and deploying an information system</p>
        <div class="row d-flex p-20 justify-content-center">
            <div class="service-card" routerLink="../courses" *ngFor="let service of services">
                <div class="d-flex justify-content-center">
                    <div class="s-icon d-flex justify-content-center align-items-center"> 
                        <span class="material-icons">
                            {{service.icon}}
                            </span>  
                        </div>
                </div>
                <h3 class="mb-12">{{service.title}}</h3>
                <p class="mb-12">{{service.content}}</p>
                <button>Read More</button>
            </div>
        </div>
    </div>
</div>
